/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 5px;
  background-color: #d5dfe9;
  font-family: samim;
}

.body-wrapper {
  background-color: #e8f1fa;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: auto;
}

/* fonts */
@font-face {
  font-family: "samim";
  src: url(../fonts/Samim.ttf);
}

/* modal */
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #e8f1fa;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-class {
  display: none;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.close-modal-body {
  height: auto;
  overflow: initial;
}

.modal-btn {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 7px 7px 0px #d0d0d0, 0 0 0 #f8f8f8;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.modal-btn:hover {
  box-shadow: inset 5px 6px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.modal-btn p {
  color: black;
  font-size: 50px;
}

.modal-btn:hover p {
  font-size: 48px;
}

/* navbar */
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  margin: 15px;
  transition: all 0.3s ease;
}

nav ul li:hover:not(first-child) {
  border-radius: 8px;
  background-color: #e8ebf0;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
}

nav ul li:hover a {
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  display: block;
  padding: 5px 15px;
}

.active {
  border-radius: 8px;
  background-color: #e8ebf0;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
}

.active a {
  color: black;
}

/* home */
.home {
  height: 400px;
  box-shadow: inset -10px -10px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 15px 0px #aec2dd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* typewriter */
.home h1 {
  text-align: center;
}

.typewrite {
  color: black;
  font-size: 50px;
  font-weight: 900;
}

/* about me */
.title {
  text-align: center;
}

section {
  margin: 50px 0 100px 0 !important;
}

.about .container {
  display: flex;
}

.about-img {
  width: 40%;
}

.about-inf {
  width: 50%;
}

.about-img {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 40px;
}

.about-img div {
  width: 70%;
  padding: 10px;
  background-color: #e7eaef;
  border-radius: 8px;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
}

.about-img div img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-inf p {
  margin: 5px;
}

.blue-txt {
  color: #0977f0;
}

.about-inf div hr {
  width: 50%;
  display: inline-block;
}

.cv-btn {
  text-decoration: none;
  border-radius: 8px;
  background-color: #e8ebf0;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
  color: black;
  padding: 15px 40px;
  margin: auto;
  margin-top: 40px;
  display: block;
  width: 50%;
  text-align: center;
}

.exp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.exp-container {
  display: flex;
  align-items: center;
}

.exp-circle {
  width: 20px;
  height: 20px;
  background-color: #0977f0;
  border-radius: 50%;
  margin: 0 20px;
}

/* skills */
.skill-container {
  width: 49%;
  display: inline-block;
  padding: 0 50px;
}

.skill-wrapper {
  margin: 15px 0;
}

.skill {
  display: inline-block;
  width: 19%;
  color: #0977f0;
  text-align: center;
}

.skill-bar {
  box-shadow: inset -3px -3px 10px 0 #ffffff, inset 1px 1px 15px 0px #92b0d5;
  border-radius: 8px;
  width: 80%;
  height: 10px;
  display: inline-block;
}

.bar {
  border-radius: 8px;
  background: linear-gradient(to right, #2b89ef, #8bb6e3);
  height: 10px;
}

.html-bar {
  width: 100%;
}

.css-bar {
  width: 100%;
}

.js-bar {
  width: 100%;
}

.bs-bar {
  width: 70%;
}

.git-bar {
  width: 20%;
}

.ps-bar {
  width: 85%;
}

.eng-bar {
  width: 90%;
}

.jq-bar {
  width: 30%;
}

.react-bar {
  width: 85%;
}

.redux-bar {
  width: 20%;
}

.axios-bar {
  width: 50%;
}

.scss-bar {
  width: 70%;
}

.material-bar {
  width: 70%;
}

.ui-bar {
  width: 30%;
}

/* portfolio */
.portfolio {
  margin: auto !important;
}

.divider {
  display: inline-block;
  background-color: rgb(179, 187, 196);
  width: 1px;
  height: 20px;
  margin: 0 5px;
}

.tablinks span {
  font-family: samim;
}

/* Style the tab */
.tab {
  overflow: hidden;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  background-color: #efefef;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  padding: 10px 30px;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
  color: black;
  display: inline-block;
  box-shadow: inset -2px -2px 10px 0 rgb(255 255 255 / 70%),
    inset 4px 4px 8px 0px #aec2dd;
  border-radius: 10px;
  border: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  width: 80%;
  margin: auto;
  padding: 6px 12px;
  transition: 5s all;
}

/* samples */
.sample-wrapper {
  display: flex;
}

.sample-body {
  padding: 10px;
  width: 25%;
}

.sample-link {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.sample {
  text-align: center;
  border-radius: 8px;
  background-color: #e8ebf0;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
  padding: 5px 10px;
  transition: 0.3s all;
  min-height: 325px;
  cursor: pointer;
}

.sample:hover {
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #8293a9;
  padding: 5px 10px;
}

.sample img {
  width: 100%;
  height: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

/* contact */

.contact {
  padding: 10px 0;
  box-shadow: inset -10px -10px 10px 0 rgba(255, 255, 255, 0.7),
    inset 4px 4px 15px 0px #aec2dd;
  border-radius: 10px;
}

.contact-row {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.contact-box {
  width: 50%;
}

.icon-wrapper {
  border-radius: 50px;
  background-color: #e8ebf0;
  box-shadow: -3px -3px 10px 0 #ffffff, 1px 1px 15px 0px #a9c1e0;
  padding: 5px 10px;
  margin: 10px 30px;
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin: 0 30px;
}

.icon i {
  display: inline-block;
  font-size: 34px;
  margin-top: 3px;
}

.icon-info p {
  font-weight: bold;
}

/* footer */
footer p {
  text-align: center;
  padding: 20px 0;
}

/* responsive section */
@media only screen and (max-width: 1050px) {
  .sample {
    min-height: 285px;
  }
}

@media only screen and (max-width: 990px) {
  .sample-wrapper {
    flex-direction: column;
  }
  .sample-body {
    width: auto;
  }
  .sample img {
    width: 60%;
  }
  .about-img div {
    width: 100%;
  }
  .about-inf ul {
    width: 90%;
  }
}

@media only screen and (max-width: 845px) {
  .contact-row {
    flex-direction: column;
  }
  .contact-box {
    width: 100%;
  }
  .about-img {
    padding: 5px;
  }
  .skill-container {
    width: 100%;
    display: block;
  }
  .cv-btn {
    width: 100%;
  }
  .about .container {
    flex-direction: column;
    align-items: center;
  }
  .about-inf {
    text-align: center;
    width: 85%;
  }
  .about-inf ul {
    width: 100%;
  }
  .tab {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  nav {
    display: none;
  }
  body {
    margin-top: -45px;
  }
  section:nth-child(2) {
    padding-top: 20px !important;
  }
  .contact-row {
    padding: 0px 0px;
  }
  .tab button {
    padding: 4px 10px;
  }
  .skill-bar {
    width: 100%;
  }
  .icon i {
    display: inline-block;
    font-size: 20px;
    margin-top: 14px;
  }

  .icon-info p {
    font-weight: 300;
  }
  .icon-wrapper {
    margin: 10px 10px;
  }
  .icon {
    margin: 0 5px;
  }
}
